<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Airport</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){


            $("button").on("click",function(){
                $.get("/create").done(function(data){
                    alert("Database creato");
                });
            });

            $("input").on("click",function(e){

                e.preventDefault();

                $("table").empty();
                $("table").append("<tr></tr>");

                var query = $("textarea").val();

                if (!query){
                    //textarea was empty
                    alert("Scrivi una query nel campo apposito");
                }
                else {
                    $.get("/sql",{ q : query}).done(function(data){
                    console.log(data);

                    if (data.affectedRows){
                        $.each(Object.keys(data),function(index,value){
                            $("body").append(`<p id=${index}P></p>`);
                            $(`#${index}P`).append(`${value}: ${data[value]}`);
                        });
                    }
                    else if (data.err){
                        alert("query errata");
                    }
                    else {
                        for (i = 0; i < Object.keys(data[0]).length; i++){
                            $("tr:first-child").append(`<th>${Object.keys(data[0])[i]}</th>`) ;
                        }
                        $.each(data,function(index, value){
                            $("table").append(`<tr id=${index}row></tr>`) ;
                            $.each(Object.values(value),function(ind,val){
                                $(`#${index}row`).append(`<td>${val}</td>`) ;
                            });
                        });
                        $("table, th, td").css({"border-collapse":"collapse","border-color":"black","border-width":"1px","border-style":"solid"});
                    }
                });

                }
                
            });
        });
    </script>
</head>

<body>
    <h1>Aeroporto</h1>
    <form>
        <label>Inserisci qui la query</label><br>
        <textarea col="40" row="4" placeholder="Select * From .." required ></textarea><br>
        <input type="submit">
    </form>
    <button>Clicca qui per creare le tabelle</button>
    <table>
        <tr>
            <!--riga degli attributi-->
        </tr>
    </table>
</body>

</html>